<div class="container">
    <h2>User Data</h2>
    <h3>Model Driven Forms</h3>
    <form [formGroup]= "userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" #refName class="form-control" formControlName="name" >
            <div *ngIf="userForm.controls ['name'].hasError('required')" class="alert alert-danger">
                please enter name
            </div>
              <div *ngIf="userForm.controls ['name'].hasError('minlength')" class="alert alert-danger">
                please enter atleast four characters
            </div>
              <div *ngIf="userForm.controls ['name'].hasError('maxlength')" class="alert alert-danger">
                Name cannot exceed 10 characters
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" >
        </div>   
         <div class="form-group">
            <label>email</label>
            <input type="text" class="form-control" formControlName="email" >
             <div *ngIf="userForm.controls ['email'].hasError('required')" class="alert alert-danger">
                please enter email
            </div>
            <div *ngIf="userForm.controls ['email'].hasError('pattern')" class="alert alert-danger">
                please enter valid email
            </div>
        </div>   
        <div formGroupName="address">
             <div class="form-group">
            <label>street</label>
            <input type="text" class="form-control" formControlName="street">
            <div *ngIf="userForm.controls ['address'].controls ['street'].hasError('required')" class="alert alert-danger">
                please enter street name
            </div>
        </div>           
        <div class="form-group">
            <label>city</label>
            <input type="text" class="form-control" formControlName="city">
            <div *ngIf="userForm.controls ['address'].controls ['city'].hasError('required')" class="alert alert-danger">
                please enter city name
            </div>
        </div>   
        <div class="form-group">
            <label>postalcode</label>
            <input type="text" class="form-control" formControlName="postalcode" >
             <div *ngIf="userForm.controls ['address'].controls ['postalcode'].hasError('pattern')" class="alert alert-danger">
                pin must have five characters
            </div>
        </div> 
        </div>                
       
        <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">submit</button>
    </form>          
</div>