<div class="container">
    <h2>User Data</h2>
    <h3>Model Driven Forms</h3>
    <form [formGroup]= "userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" #refName class="form-control" formControlName="name" >
            <div *ngIf="userForm.controls ['name'].hasError('required')" class="alert alert-danger">
                please enter name
            </div>
              <div *ngIf="userForm.controls ['name'].hasError('minlength')" class="alert alert-danger">
                please enter atleast four characters
            </div>
              <div *ngIf="userForm.controls ['name'].hasError('maxlength')" class="alert alert-danger">
                Name cannot exceed 10 characters
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" >
        </div>   
                  
       
        <button type="submit" class="btn btn-primary">submit</button>
    </form>          
</div>