 <div class="imgabout">
    <h1>Angular 2</h1>
    <h3 style="font-size: 25px">Angular JS is an open source framework built over JavaScript. It was built by the developers at Google. This framework was used to overcome obstacles encountered while working with Single Page applications. Also, testing was considered as a key aspect while building the framework. It was ensured that the framework could be easily tested. The initial release of the framework was in October 2010.</h3>

<h1>Features of Angular 2</h1>
<h3>Following are the key features of Angular 2:-</h3>

<ul style="font-size: 25px">
<li>Components − The earlier version of Angular had a focus of Controllers but now has changed the focus to having components over controllers. Components help to build the applications into many modules. This helps in better maintaining the application over a period of time.</li>

<li>TypeScript − The newer version of Angular is based on TypeScript. This is a superset of JavaScript and is maintained by Microsoft.</li>

<li>Services − Services are a set of code that can be shared by different components of an application. So for example if you had a data component that picked data from a database, you could have it as a shared service that could be used across multiple applications.</li>

</ul>

<h3>In addition, Angular 2 has better event-handling capabilities, powerful templates, and better support for mobile devices.</h3>
 </div>